    <div class="jumbotron" style="height: 100%">
    <h1 id="system-dashboard">System Dashboard</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Issue</td>
                <td>Description</td>
                <td>Project</td>
                <td>Due Date</td>                
            </tr>
        </thead>
        <tbody ng-repeat="issue in issues" ng-controller='BoardCtrl'>
            <tr>
                <td><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td><a ng-href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
                <td>{{issue.DueDate| date:'dd/MM/yyyy'}}</td>                
            </tr>
        </tbody>
    </table>    
    <div class="text-center" id="dashboard-pagination">
        <ul class="pagination-lg">
            <li class="btn btn-primary" ng-click='previousPage()'>Previous</li>
            <li class="btn btn-primary" id="page-button" ng-model="page" ng-repeat="page in pageArray" ng-click='getCurrentPage(page)'>{{page}}</li>
            <li class="btn btn-primary" ng-click='nextPage()'>Next</li>
        </ul>
    </div>
</div>
    </div>
<!--<tbody ng-repeat="issue in issues | orderBy:'-DueDate'" ng-controller='BoardCtrl'>--!>