<div class="row">
    <div class="jumbotron" style="height: 100%">
        <h1 id="project-details">Project Details</h1>
    </div>
        <div class="col-sm-3 col-md-6 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" id="project-panel">
                    <h3 class="panel-title">{{project.Name}}</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Project Key: </b>{{project.ProjectKey}}
                        </li>
                        <li class="list-group-item">
                            <b>Description: </b>{{project.Description}}
                       </li>
                        <li class="list-group-item">
                            <b>LeadId: </b>{{project.Lead.Id}}                            
                        </li>
                        <li class="list-group-item">
                            <b>Labels: </b><span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Priorities: </b><span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Issue</td>
                        <td>Description</td>
                        <td>Due Date</td>
                        <td>Assignee</td>
                    </tr>
                </thead>
                <tbody ng-repeat="issue in issues | orderBy:'-DueDate'" ng-controller='ProjectCtrl'>
                    <tr>
                        <td><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                        <td>{{issue.Description}}</td>
                        <td>{{issue.DueDate| date:'dd/MM/yyyy'}}</td>
                        <td>{{issue.Assignee.Username}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>