<div class="row">
    <div class="jumbotron" style="height: 100%">
        <h1 id="project-details">Project Details</h1>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading" id="project-panel">
                <h3 class="panel-title"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;<b>{{project.Name}}</b></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Project Key: </b>{{project.ProjectKey}}
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Description: </b>{{project.Description}}
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-king"></span>&nbsp;&nbsp;Project Manager: </b>{{project.Lead.Username}} <p><b><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;Id:</b> {{project.Lead.Id}}</p>
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Labels: </b><span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span>
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Priorities: </b><span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span>
                    </li>
                </ul>
                <a href="#/projects/{{project.Id}}/edit"><button class="btn btn-primary" ng-if="isLead"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit Project</button></a>
                <a href="#/projects/{{project.Id}}/add-issue"><button class="btn btn-primary" ng-if="isLead">Add Issue</button></a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8">
        <button class="btn btn-primary" id="filter-btn"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Choose Issue Filters</button>
        <!-- Modal -->
        <div class="modal fade" id="filterModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-menu-down"></span> SELECT FILTERS</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div ng-controller="ProjectCtrl">
                            <uib-accordion close-others="oneAtATime">
                                <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                                    <div ng-include="group.templateUrl"></div>
                                </uib-accordion-group>
                            </uib-accordion>                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary pull-right" ng-click="getFilteredIssues()"><span class="glyphicon glyphicon-ok"></span> Finish</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Issue</td>
                    <td>Description</td>
                    <td>Due Date</td>
                    <td>Assignee</td>
                </tr>
            </thead>
            <tbody ng-repeat="issue in issues | orderBy:'-DueDate'" ng-controller='ProjectCtrl'>
                <tr>
                    <td><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.Description}}</td>
                    <td>{{issue.DueDate| date:'dd/MM/yyyy'}}</td>
                    <td>{{issue.Assignee.Username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#filter-btn").click(function () {
            $("#filterModal").modal();
        });
    });
</script>


<!--<div class="form-group">
    <label for="filterParametar"><span class="glyphicon glyphicon-filter"></span> Filter</label>
    <select class="form-control" id="parametar" name="parametar" ng-model="filter.parametar" required="required">
        <option value="Title">Title</option>
        <option value="DueDate">DueDate</option>
        <option value="DueDate.Day">DueDate.Day</option>
        <option value="DueDate.Month">DueDate.Month</option>
        <option value="DueDate.Year">DueDate.Year</option>
    </select>
</div>-->
<!--<div class="form-group" ng-show="filter.parametar=='DueDate.Month'">
    <label for="startMonth"><span class="glyphicon glyphicon-calendar"></span> Start Month</label>
    <select class="form-control" id="startMonth" name="startMonth" ng-model="filter.startMonth">
        <option ng-repeat="month in months" value="{{months.indexOf(month)+ 1}}">
            {{month}}
        </option>
    </select>
</div>
<div class="form-group" ng-show="filter.parametar=='DueDate.Month'">
    <label for="endMonth"><span class="glyphicon glyphicon-calendar"></span> End Month</label>
    <select class="form-control" id="endMonth" name="endMonth" ng-model="filter.endMonth">
        <option ng-repeat="month in months" value="{{months.indexOf(month)+ 1}}">
            {{month}}
        </option>
    </select>
</div>
<div class="form-group" ng-show="filter.parametar=='Title'">
    <label for="value"><span class="glyphicon glyphicon-asterisk"></span> Value</label>
    <input type="text" class="form-control" id="value" required="required" ng-model="filter.value">
</div>-->
