<div class="row">
    <div class="jumbotron" style="height: 100%">
        <h1 id="project-details">Project Details</h1>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading" id="project-panel">
                <h3 class="panel-title"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;<b>{{project.Name}}</b></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Project Key: </b>{{project.ProjectKey}}
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Description: </b>{{project.Description}}
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-king"></span>&nbsp;&nbsp;Project Manager: </b>{{project.Lead.Username}} <p><b><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;Id:</b> {{project.Lead.Id}}</p>
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Labels: </b><span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span>
                    </li>
                    <li class="list-group-item">
                        <b><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Priorities: </b><span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span>
                    </li>
                </ul>
                <a href="#/projects/{{project.Id}}/edit"><button class="btn btn-primary" ng-show="isLead||isAdmin"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit Project</button></a>
                <a href="#/projects/{{project.Id}}/add-issue"><button class="btn btn-primary" ng-show="isLead||isAdmin">Add Issue</button></a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8">
        <button class="btn btn-primary" id="filter-btn"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Choose Issue Filters</button>
        <!-- Modal -->
        <div class="modal fade" id="filterModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-menu-down"></span> SELECT FILTERS</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div ng-controller="ProjectCtrl">
                            <uib-accordion close-others="oneAtATime">
                                <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                                    <div ng-include="group.templateUrl"></div>
                                </uib-accordion-group>
                            </uib-accordion>                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary pull-right" ng-click="getFilteredIssues()"><span class="glyphicon glyphicon-ok"></span> Finish</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="col-md-1">Issue</td>
                    <td class="col-md-3">Description</td>
                    <td class="col-md-1">Due Date</td>
                    <td class="col-md-1">Assignee</td>
                </tr>
            </thead>
            <tbody ng-repeat="issue in issues | orderBy:'-DueDate'" ng-controller='ProjectCtrl'>
                <tr>
                    <td class="col-md-1"><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td class="col-md-3">{{issue.Description}}</td>
                    <td class="col-md-1">{{issue.DueDate| date:'dd/MM/yyyy'}}</td>
                    <td class="col-md-1">{{issue.Assignee.Username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#filter-btn").click(function () {
            $("#filterModal").modal();
        });
    });
</script>
