/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#home-navbar-container
{
  background-color: #15a589;
  border-color: #15a589;  
}

#navbar-logo, #home-li a, #logout-li a, #change-password-li a, #projects-li a, #create-project-li a{
    color: white;
}

#login-form, #register-form{
    background-color: #ecf0f1;
    padding: 20px;
    height: 430px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #15a589;
  border-color: #15a589;  
}

a, a:hover, a:active{
    color: #15a589;
}

.panel-primary{  
  border-color: #15a589;  
}

#project-panel, #projects-panel, #issue-panel, #status-panel, #add-issue-panel{
    background-color:#15a589;
}

.list-group {
    line-height:30px

}

#login-btn, #register-btn, #add-issue-btn{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#login-btn{    
    margin-top: 100px;
    margin-bottom: 20px;
}

#login-legend, #register-legend{
    color: #15a589;
    font-weight: bold;
    text-align: center;
}
.error-message{
    color:red;
}

#system-dashboard{
    margin-bottom: 50px;
}

thead{
    color: #15a589;
    font-size: large;
    font-weight: bold;    
}

#page-button, #project-page-button{
    margin-left: 5px;
}

#dashboard-pagination{
    margin-top: 40px;
}

#issues-jumbotron{
    padding: 0.5em 0.6em;
    font-size: 3em;
    color: #15a589;
}

.table-striped{
    border-style:solid;
    border-width: 1px;
    border-color: gray;   
}

#my-issues{
    border-style:groove;
    border-color: #eee;
    padding-bottom : 10px;
    padding-top: 10px;
}

.panel-info > .panel-heading{
  background-color: #eee;
  border-color: #15a589; 
  font-size: 3em;  
  color: #15a589;
}

.panel-info > .panel-heading>h3{ 
  font-weight: bold;  
}

.pagination-sm>li>a{
    color:#15a589;
}

#projects-pagination{
    margin-left: 10px;
}
 
#admin-edit-project{
   margin-right: 15px;
}



