<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="issueTrackingSystem" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Issue Tracking System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/toastr/build/toastr.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="bs-component" id="home-navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" id="home-navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-navbar-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navbar-logo" href="#/">Issue Tracking System</a>
            </div>

            <div class="collapse navbar-collapse" id="home-navbar-2">
                <ul class="nav navbar-nav" id="home-navbar-ul" ng-show="auth==true" ng-controller="HomeCtrl">
                    <li id="home-li"><a href="#/"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    <li id="projects-li" ng-show="isAdmin"><a href="#/projects"><span class="glyphicon glyphicon-list-alt"></span> Projects</a></li>
                    <li id="create-project-li" ng-show="isAdmin"><a href="#/projects/add"><span class="glyphicon glyphicon-file"></span> Create</a></li>
                    <li id="logout-li"><a ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    <li id="change-password-li"><a href="#/profile/password"><span class="glyphicon glyphicon-refresh"></span> Change Password</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div> 
    <div ng-controller="HomeCtrl">
        <script type="text/ng-template" id="notification.html">
            <div class="modal-body">
                <div class="text-center">{{message}}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click=" ok()">OK</button>
            </div>
        </script>
    </div>
            <div class="container-fluid">
            <div ng-view></div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-ui-router/angular-ui-router.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
        <script src="bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/toastr/build/toastr.min.js"></script>
        <script src="app.js"></script>
        <script src="dashboard/dashboard.js"></script>
        <script src="dashboard/dashboard-controller.js"></script>
        <script src="home/home-controller.js"></script>
        <script src="common/main-controller.js"></script>
        <script src="common/modal.js"></script>
        <script src="users/authentication.js"></script>
        <script src="users/identity.js"></script>
        <script src="users/user-service.js"></script>
        <script src="users/profile-controller.js"></script>
        <script src="projects/project-controller.js"></script>
        <script src="projects/admin-projects-controller.js"></script>
        <script src="projects/edit-project-controller.js"></script>
        <script src="projects/add-project-controller.js"></script>
        <script src="projects/project.js"></script>
        <script src="issues/issue-controller.js"></script>
        <script src="issues/issue.js"></script>
        <script src="issues/edit-issue-controller.js"></script>
        <script src="issues/add-issue-controller.js"></script>
        <script src="comments/comment.js"></script>
        <script src="comments/comment-controller.js"></script>
        <script src="labels/label.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
</body>
</html>